<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="nav" title="главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#about" class="nav__link link-ul">главная</a>
          </li>
          <li class="nav__item">
            <a href="#gallery" class="nav__link link-ul">форум</a>
          </li>
          <li class="nav__item">
            <span class="text nav__link"
              >СТАТУС
              <ul class="sub list-reset">
                <li>
                  <a class="sub__link" href="#">Point navigation menu #1</a>
                </li>
                <li>
                  <a class="sub__link" href="#">Point navigation menu #2</a>
                </li>
                <li>
                  <a class="sub__link" href="#">Point navigation menu #3</a>
                </li>
                <li>
                  <a class="sub__link" href="#">Point navigation menu #4</a>
                </li>
                <li>
                  <a class="sub__link" href="#">Point navigation menu #5</a>
                </li>
              </ul>
            </span>
          </li>

          <li class="nav__item">
            <a href="#events" class="nav__link link-ul">регистрация</a>
          </li>
          <li class="nav__item">
            <a href="#project" class="nav__link link-ul">как начать</a>
          </li>
        </ul>
      </nav>
      <img src="images/use.jpg" alt="" width="30" height="17" />

      <a href="#" class="header__btn-exit btn">вход</a>
    </div>
  </div>
</header>
